
.mission {
background: white;
padding: 30px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 1200px;
margin: 16px auto;
text-align: center;
}


.vision {
background: white;
padding: 30px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 1200px;
margin: 16px auto;
text-align: center;
}


.philosophy {
background: white;
padding: 30px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 1200px;
margin: 16px auto;
text-align: center;
}
