<footer class="footer">
  <div class="footer-logo">
    <p class="footer-headers">CIRCULAR</p>
    <p style="font-size: 14px; color: #333333; margin-bottom: 0;">Carefully created online</p>
  </div>
  <div class="footer-contact d-block">
    <p class="footer-headers">Contact</p>
    <div class="footer-box-lg" style="width: 100%; margin-bottom: 0.4rem">
      <a href="mailto:mahsa.khamisi@gmail.com" class="footer-link-to">Email us</a>
    </div>
    <div class="footer-box-lg" style="width: 100%; margin-bottom: 0.4rem">
      <a href="#" class="footer-link-to">Work with us</a>
    </div>
  </div>
  <div class="footer-newsletter">
    <p class="footer-headers">Newsletter</p>
    <p>Click here <a href="/" class="footer-subscribe">to subscribe</a></p>
  </div>
  <div class="footer-social-links">
    <p class="footer-headers">Find Us</p>
    <div class="footer-social-item" style="margin-bottom: 0.4rem"><a href="https://www.facebook.com/" target="_blank">Facebook  <i class="fab fa-facebook"></i></a></div>
    <div class="footer-social-item" style="margin-bottom: 0.4rem"><a href="https://www.instagram.com/circular_official" target="_blank">Instagram  <i class="fab fa-instagram"></i></a></div>
    <div class="footer-social-item" ><a href="https://twitter.com/">Twitter  <i class="fab fa-twitter"></i></a></div>
  </div>
</footer>
