<div class="b-main-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('aboutus.jpg') %>);">
      <h2>ABOUT US</h2>
  </div>
</div>

<div class="box_1">
  <div class="mission">
    <h2>MISSION</h2>
    <p>
    CIRCULAR IS A STATE OF MIND! Is a new way of possess stuff.
    </p>
  </div>
</div>



<div class="box_2">
  <div class="vision">
    <h2>VISION</h2>
    <p>Our goal is to bring consumers to the next level of economy. How? With this virtual platform where the consumer can rent their stuff to make extra money.
    </p>
  </div>
</div>


<div class="box_3">
  <div class="philosophy">
    <h2>PHILOSPHY</h2>
    <ol class="bo">
      <p>Treat customers the way you want to be treated.</p>
      <p>Helping companies also help the whole community.</p>
      <p>Collaborate and create together for a better future.</p>
    </ol>
  </div>
</div>
